/* Body and Text */
html {
    height: 100vh;
    background-image: linear-gradient(#000000, #000000, #2a3b7a, #aaaae1);
    overflow-x: hidden;
}

h1 {
    color: black;
    text-align: center;
}

p {
    color: white;
}

/* Shapes */
.screen {
    position: static;
    width: 100vw;
    height: 100vh;
    z-index: 1;
}

.glass1 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    height: 70vh;
    width: 50vw;
    position: relative;
    left: 2vw;
    top: 15vh;
}

.glass2 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    height: 80vh;
    width: 94.5vw;
    position: relative;
    left: 2vw;
    top: 10vh;
}

/* Tool Bar */
.toolBar {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);

    position: fixed;
    height: 80px;
    width: 98.5vw;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.toolButton {
    background-color: transparent;
    border: none;
    color: white;
    margin: 10px;
    border-radius: 30px;
    height: 6vh;
    width: 12vw;
    font-size: 20px;
    font-weight: 600;
}

.toolButton:hover {
    background-color: white;
    color: #2a73b2;
}

.toolButtons {
    margin-right: 0;
}

/* Scroll Bar */
::-webkit-scrollbar {
    width: 0px;
}
