<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Greg's Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='backgroundEffect.css')}}">
</head>
<body>
    <section class="wrapper">
        <canvas id="stars1"></canvas>
        <canvas id="stars2"></canvas>
        <canvas id="stars3"></canvas>
        <div id="title">
            <h1>Hello, my name is Greg</h1>
        </div>
    </section>
</body>
<script>
    function drawStars(canvas_id, amount, star_size) {
        // Find the correct canvas
        var stars = document.getElementById(canvas_id).getContext("2d");
        // Size the canvas
        stars.canvas.width = window.innerWidth;
        stars.canvas.height = window.innerHeight;

        // Draw stars
        for (let i = 0; i < amount; i++) {
            stars.beginPath();
            stars.arc(Math.floor(Math.random() * window.innerWidth),
                Math.floor(Math.random() * window.innerHeight), star_size, 0, 2 * Math.PI);
            stars.fillStyle = "white";
            stars.fill();
        }
    }

    drawStars("stars1", 50, 4);
    drawStars("stars2", 150, 2.5);
    drawStars("stars3", 400, 1);
</script>
</html>